<form action="/dashboard/<%= focus %>/prefix" method="post">
  <h2 class="subtitle" style="text-align: left">Bot prefix</h2>
  <input class="input" type="text" name="prefix" value="<%= data.prefix %>" required>
  <br><br>
  <input class="button" style="float: left" type="submit" value="Save">
</form>