<%- include('partials/header') -%>
<body class="background1">
<%- include('partials/nav') -%>
  <div>
    <h1 class="title" style="margin-top: 15px; text-align: center; margin-bottom: 15px;">Multimedia to approve</h1>
    
  </div>
  <div style="margin-left: 20px; margin-right: 20px">
<% if(media.length) { %>
    <% media.forEach((m, i) => { %>
    <%- include('partials/media2', { m, i, authors }) -%>
<% }) %>
    <% } else { %>
    <h2 style="text-align: center;">
      Nothing new right now....
    </h2>
    <% } %>
  </div>
<%- include('partials/footer') -%>