<%- include('partials/header') -%>
<body>
<%- include('partials/nav') -%>
<center>
<h1 class="title" style="margin-top: 12px; font-size: 2.4em">
  What qualifies for Wubbzy Media?
</h1>
  <h2 class="subtitle" style="font-size: 1.9em">
    Publication + role
  </h2>
  </center>
  <ol style="margin-left: 40px; margin-top: 10px; font-size: 19px">
    <li>
    Lost content in general, such as weird dubbing, exclusive DVD material, PDFs from some official site, and other interesting content to watch. (It varies)
  </li>
    <li>
      Full copies of a lost official website, copies of Wubbzy games, full copy of a Wubbzy DVD in ISO format (with ALL its features), and premium content if found
</li>
    <li>
    Lost media content officially created by the Wubbzy team in social media and other platforms (such as the Wow Reel, although this has already been found)
</li>
    <li>
      Interesting content or that exists but is difficult to access
    </li>
    <br>
    Notice: In itself it is requested that YOU have the content and upload it, if it was someone else who did that then it does not qualify for the role (the only exception to this is that if the content is on rare platforms or is difficult access or search for others)
  </ol>
<center>
<h2 class="subtitle" style="margin-top: 10px; font-size: 1.9em">
    Publication only
  </h2>
</center>
<ol style="margin-left: 40px; margin-top: 10px; font-size: 19px">
  <li>Unpublished content but easy to access to others (this may vary)</li>
<li>Simple files created by the official team, which still exist</li>
<li>Interesting content related to Wubbzy that someone shared on a public channel on the server.</li>
<li>Unofficial content, but related to Wubbzy and that this has a reference to something official in the series (documentation for example)</li>
  <br>
  If you have doubts do not hesitate to create a ticket to review your case.
</ol>
<br>
<%- include('partials/footer') -%>