<%- include('partials/header') -%>
<body class="background1">
<%- include('partials/nav') -%>
<center>
  <figure class="image is-128x128">
  <img style="margin-top: 4px; border-color: #18191c; border-style: solid; background-color: #18191c" src="https://cdn.discordapp.com/icons/402555684849451028/a_431cdc81ceed60f5c6181d1982c25747.gif?size=1024" alt="Image">
</figure>

<h1 class="title" style="margin-top: 15px;">Wow Wow Discord</h1>
<h2 style="font-size: 40px; margin-top: -15px; margin-bottom: 10px;">The best custom Wow! Wow! Wubbzy! server</h2>
  <span style="padding: 3px ;margin-top: 10px; background-color: rgba(243,247,129,0.87); font-size: 20px">
  Wow Wow Discord is a Discord server dedicated to existing and new Wubbzy fans. Our goal is to bring fans together, relive childhood and provide a space for Wubbzy to continue in our lives.
  </span>
  <div class="buttons" style=" margin: auto; padding: 10px; margin-top: 10px; display: block;">
    <% if(guilds.find(e => e.id === "402555684849451028")) { %>
    <a href="https://discord.com/channels/402555684849451028"><button class="button">Go to the server</button></a>
    <a href="/wwd/yourroles"><button class="button">Your roles</button></a>
    <% } else { %>
    <a href="https://discord.gg/5qx9ZcV"><button  class="button">Join the server :)</button></a>
    <% } %>
  <a href="/wwd/rules"><button class="button">Server rules</button></a>
    <% if(verified) { %>
    <a href="/wwd/wwr/submit"><button class="button">Submit a topic for Wubbzy Wednesday</button></a>
    <% } %>
</div>
</center>
<%- include('partials/footer') -%>