<%- include('partials/header') -%>
<body>
<%- include('partials/nav') -%>
<center>
<h1 style="margin-top: 10px; font-size: 3em">
  Wow Wow Discord rules
</h1>
  </center>
  <ol style="margin-left: 40px; margin-top: 10px; font-size: 19px">
    <li>
    <b>Be nice:</b> We don't want any fights or drama in here, take it up in the DMs. If someone is making you uncomfortable or harassing you, I could kick them.
  </li>
    <li>
    <b>Dont put NSFW in the general chat:</b> Please don't have it somewhere where everyone can see, not everyone wants to see it.
</li>
    <li>
    Use the bots in #bots, this to avoid filling the general channel.
</li>
    <li>
      You have <b>TWO voice channels</b> to listen to music with Rythm bots and Gidget bot, if one is busy, use the other voice channel and another bot. <b>Do not disturb</b> Voice_Chat. Some people want to talk.</li>
    <li>
    You can get the @Verified role when you reach level 2 in the server ranking. (Controlled by @Gaius Play#2430)</li>
    <li>Talk only in English, in all channels. (except #sala_wubbzy, for Spanish users)</li>
    <li>
    <b>Use common sense</b>. We want activity, but excessively bad words (swearing) or sensitive topics, is not correct. Try not to say excessively (be it in a message or saying several times) the bad words, as well as having a healthy conversation. We have a bot that will delete your messages if you say a disallowed word directly.
    </li>
    <li>The same for VCs, do not disturb in chat, do not swearing, and do not play music with bad content.</li>
    <li>
     Respect each staff member, as well as each member of this server. Create a ticket in #ticket if you have problems with someone.</li>
    <li>Zero tolerance for any type of discrimination against any person. You will receive permanent ban, so don't do it.</li>
    <li>In order to prevent raids, if a certain drama, made by <b>certain</b> users, <b><i>continues</i></b> by other users, they will be considered as <b>participants in the drama</b>, and if <b>danger</b> is detected, they <b>will be banned</b>. 
<b>We recommend refraining from the topics of those raiders, to avoid being banned for no reason</b>.</li>
  </ol>
  <center>
  <h1 style="margin-top: 10px; font-size: 3em">
  Channel specific rules
</h1>
  <h2 style="margin-top: 10px; font-size: 2em">
  #wubbzy_art rules
</h2>
  </center>
  <ol style="margin-left: 40px; margin-top: 10px; font-size: 19px">
    <li>The most obvious, that channel will only be for art related to the series. If another character from another series wants to be included, that should go to #other_art</li>

    <li>The drawing cannot show any hate to the series.</li>

    <li>The drawing cannot show any kind of hate, fight or others among the characters.</li>

    <li>The drawing must use the logic of the series to be safe (SFW). Use common sense here, since explaining it can be extensive.</li>

    <li>The representation of the characters in other ways than the original is <b>allowed</b> while using the logic of the series. (use common sense please) References to other things are also allowed.</li>

    <li>OCs are allowed as long as they are 70% based on a character in the series or a completely new/invented character with the drawing style of the series. Create a ticket in #ticket if you do not know if your drawing conforms to the rules of the channel.</li>

    <li>No hidden NSFW. If detected, you could be kicked or banned from the server.</li>
  </ol>
    <center>
  <h2 style="margin-top: 10px; font-size: 2em">
  #wubb_dubs rules
</h2>
  </center>
  <ol style="margin-left: 40px; margin-top: 10px; margin-bottom: 8px; font-size: 19px">
    <li>The conversation must be 70% in English, for moderation purposes.</li>
    <li>It is allowed to speak in other languages, only in topics about Wow! Wow! Wubbzy! and/or its dubbing.</li>
  </ol>

<%- include('partials/footer') -%>